.content{
    padding-top: 10px;
}

.row{
    display: flex;
    gap: 10px;
    margin-top: 50px;    
}

.action{
    padding: 0px 25px 20px;
}

.action button{
    flex:1;
}

.content mat-form-field + mat-form-field {
    margin-left: 8px;
  }